
  #carouselExampleCaptions {
    background-color: #ffffff;
  }




.carousel-caption {
  margin-right: 440px;
  margin-bottom: 22%;
  color: black;
} 
.text-carousel_a {
  margin-right: 412px;
  margin-bottom: 18%;
  color: black;
}