.cart-container {
  position: relative;
}
.cart-container.nav-item {
  position: relative;
  top: 12px;
}

.cart-number {
  position: absolute;
  top: -10px;
  left: 25px;
  color: red;
  font-size: 12px;
  font-weight: bold;
  background-color:none;
  padding: 2px 5px;
  border-radius: 50%;
}
.navbar-brand{
  border: none;
}
